x-logging: &logging
  driver: json-file
  options:
    max-file: "1"
    max-size: 10m

services:
  dmirakurun:
    image: ghcr.io/till0196/dmirakurun:latest
    cap_add:
      - SYS_ADMIN
      - SYS_NICE
    logging: *logging
    environment:
      TZ: Asia/Tokyo
      # DOCKER_NETWORK: host
      # DISABLE_PCSCD: 1
      # LOG_LEVEL: "3"
      # DEBUG: "true"
    networks:
      - dmirakurun
    ports:
      - "40772:40772"
      - "9229:9229"
    devices:
      - /dev/bus:/dev/bus
      - /dev/dvb:/dev/dvb
    volumes:
      - source: dmirakurun_data
        target: /app-data
        type: volume
    configs:
      - source: mirakurun_channels_config
        target: /app-config/channels.yml
      - source: mirakurun_server_config
        target: /app-config/server.yml
      - source: mirakurun_tuners_config
        target: /app-config/tuners.yml
      - source: dvbconf
        target: /usr/local/dvbconf-for-isdb/conf/dvbv5_channels.conf
    restart: always

  depgstation:
    image: ghcr.io/till0196/depgstation:latest
    configs:
      - source: depgstation_config
        target: /app/config/config.yml
    volumes:
      - source: depgstation_thumbnail
        target: /app/thumbnail
        type: volume
      - source: depgstation_data
        target: /app/data
        type: volume
      - source: depgstation_logs
        target: /app/logs
        type: volume
      - source: ./recorded
        target: /app/recorded
        type: bind
    environment:
      TZ: "Asia/Tokyo"
    entrypoint:
      - /bin/sh
      - -c
      - |
        # Copy config files if they don't exist
        [ ! -f /app/config/operatorLogConfig.yml ] && cp /app/config/operatorLogConfig.sample.yml /app/config/operatorLogConfig.yml
        [ ! -f /app/config/epgUpdaterLogConfig.yml ] && cp /app/config/epgUpdaterLogConfig.sample.yml /app/config/epgUpdaterLogConfig.yml
        [ ! -f /app/config/serviceLogConfig.yml ] && cp /app/config/serviceLogConfig.sample.yml /app/config/serviceLogConfig.yml
        [ ! -f /app/config/enc.js ] && cp /app/config/enc.js.template /app/config/enc.js
        # Set ownership of app directory to 1000:1000
        chown -R 1000:1000 /app

        # Start application
        npm start
    networks:
      - dmirakurun
    depends_on:
      - depgstation_db
      - dmirakurun
    ports:
      - "8888:8888"
      - "8889:8889"
    # user: "1000:1000"
    # devices:
    #   - /dev/dri:/dev/dri
    logging: *logging
    restart: always

  depgstation_db:
    image: mariadb:10.5
    # image: mysql:8.0 # 囲み文字を使用する場合
    volumes:
      - source: depgstation_db_data
        target: /var/lib/mysql
        type: volume
    environment:
      MYSQL_USER: epgstation
      MYSQL_PASSWORD: epgstation
      MYSQL_ROOT_PASSWORD: epgstation
      MYSQL_DATABASE: epgstation
      TZ: "Asia/Tokyo"
    networks:
      - dmirakurun
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --performance-schema=false --expire_logs_days=1 # for mariadb
    # command: --character-set-server=utf8mb4 --collation-server=utf8mb4_0900_as_ci --performance-schema=false --expire_logs_days=1 --default-authentication-plugin=mysql_native_password # for myql
    logging: *logging
    restart: always

networks:
  dmirakurun:

volumes:
  dmirakurun_data:
  depgstation_db_data:
  depgstation_thumbnail:
  depgstation_data:
  depgstation_logs:

configs:
  mirakurun_channels_config:
    file: ../configs/mirakurun/channels.yml
  mirakurun_server_config:
    file: ../configs/mirakurun/server.yml
  mirakurun_tuners_config:
    file: ../configs/mirakurun/with_dantto4k_tuners.yml
  dvbconf:
    file: ../configs/dvbv5_channels.conf
  depgstation_config:
    file: ../configs/depgstation/config.yml